/*## Colors*/
/*### Primary*/
/*### Neutral*/
* {
  font-family: Raleway;
}

html {
  font-size: 14px;
  font-weight: 400;
  background: url("./../images/bg-desktop.png"), hsl(229deg, 57%, 11%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (max-width: 850px) {
  html {
    background: url("./../images/bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(229deg, 7%, 55%);
  max-height: 98vh;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}
@media (max-width: 850px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
main .upload-component {
  background: hsl(228deg, 56%, 26%);
  padding: 2.5rem;
  border-radius: 0.5rem 6.5rem 0.5rem 0.5rem;
  min-width: 17rem;
}
main .upload-component .logo {
  margin-bottom: 2rem;
  height: 2.75rem;
}
main .upload-component ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
main .upload-component ul li button {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.5rem;
  background-color: hsl(229deg, 57%, 11%);
}
main .upload-component ul li button:hover {
  cursor: pointer;
}
main .storage {
  background-color: hsl(228deg, 56%, 26%);
  border-radius: 0.5rem;
  padding: 2rem 2rem 3rem 2rem;
  font-size: 1rem;
  color: hsl(243deg, 100%, 93%);
  width: 100%;
  box-sizing: border-box;
  min-width: 500px;
  position: relative;
}
@media (max-width: 850px) {
  main .storage {
    min-width: 200px;
    width: 100%;
  }
}
main .storage h5 {
  margin: 0;
  font-weight: 400;
}
main .storage h5 span {
  font-weight: 700;
}
main .storage .progress {
  background-color: hsl(229deg, 57%, 11%);
  padding: 2px;
  border-radius: 1rem;
  margin: 1rem 0 0.25rem 0;
}
main .storage .progress .actual-progress {
  height: 1rem;
  width: 74%;
  background: linear-gradient(to right, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  border-radius: 1rem;
  position: relative;
}
main .storage .progress .actual-progress::after {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin: 0.15rem 0.15rem;
  display: inline-block;
}
main .storage .range {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.9rem;
}
main .storage .tooltip {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  font-size: 0.75rem;
  font-weight: 700;
  color: hsl(229deg, 7%, 55%);
  margin-top: -2rem;
  margin-right: 2rem;
}
@media (max-width: 850px) {
  main .storage .tooltip {
    top: auto;
    right: auto;
    left: 30%;
    bottom: 0;
    margin-bottom: -2rem;
  }
}
main .storage .tooltip span {
  font-size: 2rem;
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
@media (max-width: 850px) {
  .attribution {
    margin-top: 3rem;
  }
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
